# Change this if you want to use https / letsencrypt
LASIUS_HOSTNAME=localhost

# Name of the lasius instance, used for the title of the page
LASIUS_INSTANCE=Lasius Local Test

# Image version to use
LASIUS_VERSION=latest

# If you want to use an external mongodb instance, change this to the host
MONGO_HOST=localhost

# Change this to your own secret
MONGO_INITDB_PASSWORD=myverysecretpassword

# Change this to your own username
MONGO_INITDB_USERNAME=lasius

# Change this to your own secret
NEXTAUTH_SECRET=myverysecrethash
