<p><strong>Lasius Nutzungsbedingungen</strong></p>

<p>Datum des Inkrafttretens: 1. Februar 2025</p>

<p>Bitte fügen Sie Ihre Nutzungsbedingungen hier ein!</p>

<p><strong>A. Erster Abschnitt</strong></p>
  <ol>
    <li>Erste Bedingung
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
    sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et
    accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren.</p>
    </li>
    <li>Zweite Bedingung
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
    sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et
    accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren.</p>
    </li>
  </ol>

<p><strong>B. Zweiter Abschnitt</strong></p>
  <ol>
    <li>Erste Bedingung
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
    sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et
    accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren.</p>
    </li>
  </ol>

<p>Durch die Nutzung von Lasius bestätigen Sie, dass Sie diese
Bedingungen gelesen und verstanden haben und ihnen zustimmen.</p>

<p>Danke, dass Sie sich für Lasius entschieden haben!</p>
